# IMPORTANT - MUST BE PREFIXED w/ APP (prefix is removed when used)
APP_DEBUG=
APP_MEMBERS_URI=
APP_MEMBERS_USER=
APP_MEMBERS_PASSWORD=

APP_PALANTIR_URI=
APP_PALANTIR_USER=
APP_PALANTIR_PASSWORD=

APP_GITHUB_API_TOKEN=
