.members-item {
  flex: 1;
  min-width: 0;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  border-bottom: 0.5px solid rgba(255, 255, 255, 10%);
  gap: 1.5rem;
}

.is-active {
  background-color: var(--primary);
}

.entry {
  min-width: 0;
  flex: 1;
  word-break: break-all;
}

.avatar {
  display: flex;
  flex: 0;
  min-width: fit-content;
  justify-content: start;
  align-items: center;
}

.avatar img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 50%;
  background-color: red;
  overflow: hidden;
}

.name {
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: 170px;
}

.github {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
}

.github-icon {
  padding-right: 4px;
  color: var(--secondary-dark);
}

.contributions {
  align-items: center;
  justify-content: center;

  & div {
    width: fit-content;
  }
}

.kaffe {
  display: flex;
  flex-direction: column;
}

.office-activity {
  display: flex;
  flex-direction: column;

  & div {
    flex: 1;
    min-width: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  & .first-seen {
    flex: 1;
    min-width: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 0.6rem;
    opacity: 0.7;
  }
}

.stats-entry {
  display: flex;
  flex: 0;
  flex-direction: row;
  align-items: center;

  & .icon-wrapper {
    width: 50px;
    text-align: right;

    & .icon {
      min-width: var(--member-icon-size);
      max-width: var(--member-icon-size);
      min-height: var(--member-icon-size);
      max-height: var(--member-icon-size);
    }
  }

  & .value,
  & .unit {
    width: 60px;
    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  & .value {
    text-align: center;
  }
}

.total-time {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.total-time-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.crown-icon {
  color: #ffd700;
  margin-right: 5px;
  font-size: 0.8rem;
}

.last-seen {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.last-seen-offline {
  color: #f76b6b;
}

.in-session {
  color: rgb(50, 205, 50); /* Lime Green */
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .members-item {
    padding: 0.5rem 1rem;
    gap: 1rem;
  }

  .avatar img {
    width: 40px;
    height: 40px;
  }

  .github {
    display: none;
  }

  .contributions {
    display: none;
  }
}
