.carousel {
  background-color: var(--header-color);
  width: 100%;
  height: 100%;
  border-bottom: 5px solid var(--background-color-light);
}

.marquee {
  display: flex;
  justify-content: space-evenly;
  white-space: nowrap;
  overflow: hidden;
  animation: marquee 10s linear infinite;
}

.text-birthday {
  display: flex;
}

.main-text-birthday {
  font-weight: bold;
  background: linear-gradient(45deg, #ff6b81, #f7a8b8, #ffbc42, #9b59b6);
  background-size: 400% 400%;
  color: transparent;
  -webkit-background-clip: text;
  animation: gradientAnimation 3s ease infinite;
  margin-left: 15px;
  margin-right: 15px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
