.statuses {
  gap: 50px;
  padding: 10px 1rem;

  width: fit-content;
  margin: auto;

  font-size: 1.25rem;
}

.statuses-background {
  overflow-x: auto;
  width: 100%;
}

.status-item {
  gap: 5px;
}

.status-item-icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: gray;
}

@media screen and (max-width: 600px) {
  .statuses {
    font-size: 1rem;
    gap: 1rem;
  }
}
