@import url(./globals.css);

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
   */

  width: 100%;
  height: 100%;
  background-color: var(--background-color);

  /* text-rendering: optimizeLegibility; */

  --background-color: #11171a;
  --background-color-light: #474d51;
  --header-color: #192126;
  --font-primary-color: #fff;
  --primary: #192126;
  --secondary: #fb0506;
  --secondary-dark: #af0304;
  --secondary-light: #fb3737;
  --border-color: rgba(255, 255, 255, 0.1);
  --header-icon-size: 16px;
  --member-icon-size: 20px;
  --repo-column-width: 230px;
}

#root {
  width: 100%;
  height: 100%;
  color: var(--font-primary-color);
  font-family: Monorale, "Noto Color Emoji", sans-serif;
  font-size: 1rem;
}

@media (max-width: 600px) {
  /* .g-mobile {
    display: initial;
  } */
  .g-not-mobile {
    display: none !important;
  }
}

@media (min-width: 601px) {
  .g-mobile {
    display: none !important;
  }
  /* .g-not-mobile {
    display: initial;
  } */
}

a {
  font-weight: 500;
  color: var(--secondary-light);
  opacity: 0.7;
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary);
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
/* 


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
  z-index: 10000;
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}

.made-by-love {
  text-align: "center";
  color: var(--font-primary-color);
  font-weight: "bold";
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin: 0;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .made-by-love {
    padding: 0.5rem 0;
  }
}

.beer-icon {
  color: var(--secondary-dark);
}

.snowflake:nth-child(1) {
  --size: 0.8vw;
  --left-ini: 9vw;
  --left-end: 2vw;
  left: 79vw;
  animation: snowfall 46s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(2) {
  --size: 0.6vw;
  --left-ini: -1vw;
  --left-end: -6vw;
  left: 56vw;
  animation: snowfall 41s linear infinite;
  animation-delay: -18s;
}

.snowflake:nth-child(3) {
  --size: 1vw;
  --left-ini: 3vw;
  --left-end: -5vw;
  left: 50vw;
  animation: snowfall 46s linear infinite;
  animation-delay: -11s;
}

.snowflake:nth-child(4) {
  --size: 0.8vw;
  --left-ini: 8vw;
  --left-end: 7vw;
  left: 62vw;
  animation: snowfall 47s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(5) {
  --size: 1vw;
  --left-ini: 0vw;
  --left-end: 0vw;
  left: 71vw;
  animation: snowfall 30s linear infinite;
  animation-delay: -12s;
}

.snowflake:nth-child(6) {
  --size: 1vw;
  --left-ini: 9vw;
  --left-end: 2vw;
  left: 84vw;
  animation: snowfall 36s linear infinite;
  animation-delay: -12s;
}

.snowflake:nth-child(7) {
  --size: 0.2vw;
  --left-ini: 3vw;
  --left-end: -9vw;
  left: 35vw;
  animation: snowfall 48s linear infinite;
  animation-delay: -12s;
}

.snowflake:nth-child(8) {
  --size: 0.8vw;
  --left-ini: 1vw;
  --left-end: -8vw;
  left: 5vw;
  animation: snowfall 46s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(9) {
  --size: 0.4vw;
  --left-ini: 10vw;
  --left-end: 3vw;
  left: 53vw;
  animation: snowfall 31s linear infinite;
  animation-delay: -18s;
}

.snowflake:nth-child(10) {
  --size: 0.4vw;
  --left-ini: -6vw;
  --left-end: 5vw;
  left: 70vw;
  animation: snowfall 44s linear infinite;
  animation-delay: -14s;
}

.snowflake:nth-child(11) {
  --size: 0.8vw;
  --left-ini: -5vw;
  --left-end: 2vw;
  left: 76vw;
  animation: snowfall 21s linear infinite;
  animation-delay: -14s;
}

.snowflake:nth-child(12) {
  --size: 0.8vw;
  --left-ini: 1vw;
  --left-end: 8vw;
  left: 39vw;
  animation: snowfall 44s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(13) {
  --size: 0.8vw;
  --left-ini: 10vw;
  --left-end: -4vw;
  left: 81vw;
  animation: snowfall 28s linear infinite;
  animation-delay: -18s;
}

.snowflake:nth-child(14) {
  --size: 0.8vw;
  --left-ini: -3vw;
  --left-end: -5vw;
  left: 42vw;
  animation: snowfall 26s linear infinite;
  animation-delay: -18s;
}

.snowflake:nth-child(15) {
  --size: 0.6vw;
  --left-ini: 7vw;
  --left-end: -1vw;
  left: 73vw;
  animation: snowfall 24s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(16) {
  --size: 0.8vw;
  --left-ini: -4vw;
  --left-end: -2vw;
  left: 28vw;
  animation: snowfall 47s linear infinite;
  animation-delay: -17s;
}

.snowflake:nth-child(17) {
  --size: 0.6vw;
  --left-ini: 2vw;
  --left-end: -7vw;
  left: 75vw;
  animation: snowfall 22s linear infinite;
  animation-delay: -17s;
}

.snowflake:nth-child(18) {
  --size: 0.4vw;
  --left-ini: -1vw;
  --left-end: 7vw;
  left: 88vw;
  animation: snowfall 30s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(19) {
  --size: 0.8vw;
  --left-ini: -3vw;
  --left-end: 10vw;
  left: 82vw;
  animation: snowfall 34s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(20) {
  --size: 0.8vw;
  --left-ini: -5vw;
  --left-end: -8vw;
  left: 26vw;
  animation: snowfall 29s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(21) {
  --size: 0.6vw;
  --left-ini: -6vw;
  --left-end: -1vw;
  left: 6vw;
  animation: snowfall 40s linear infinite;
  animation-delay: -14s;
}

.snowflake:nth-child(22) {
  --size: 0.2vw;
  --left-ini: 6vw;
  --left-end: -4vw;
  left: 90vw;
  animation: snowfall 38s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(23) {
  --size: 1vw;
  --left-ini: 8vw;
  --left-end: -2vw;
  left: 37vw;
  animation: snowfall 33s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(24) {
  --size: 0.6vw;
  --left-ini: -8vw;
  --left-end: 2vw;
  left: 30vw;
  animation: snowfall 26s linear infinite;
  animation-delay: -16s;
}

.snowflake:nth-child(25) {
  --size: 0.2vw;
  --left-ini: -2vw;
  --left-end: 5vw;
  left: 100vw;
  animation: snowfall 35s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(26) {
  --size: 0.8vw;
  --left-ini: 3vw;
  --left-end: -8vw;
  left: 63vw;
  animation: snowfall 25s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(27) {
  --size: 0.6vw;
  --left-ini: -5vw;
  --left-end: 7vw;
  left: 14vw;
  animation: snowfall 47s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(28) {
  --size: 1vw;
  --left-ini: 8vw;
  --left-end: 10vw;
  left: 87vw;
  animation: snowfall 45s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(29) {
  --size: 0.4vw;
  --left-ini: 10vw;
  --left-end: -2vw;
  left: 80vw;
  animation: snowfall 47s linear infinite;
  animation-delay: -16s;
}

.snowflake:nth-child(30) {
  --size: 0.2vw;
  --left-ini: -8vw;
  --left-end: 4vw;
  left: 77vw;
  animation: snowfall 26s linear infinite;
  animation-delay: -17s;
}

.snowflake:nth-child(31) {
  --size: 0.4vw;
  --left-ini: -4vw;
  --left-end: -5vw;
  left: 12vw;
  animation: snowfall 43s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(32) {
  --size: 0.2vw;
  --left-ini: 10vw;
  --left-end: -4vw;
  left: 13vw;
  animation: snowfall 27s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(33) {
  --size: 0.4vw;
  --left-ini: -1vw;
  --left-end: 4vw;
  left: 80vw;
  animation: snowfall 50s linear infinite;
  animation-delay: -17s;
}

.snowflake:nth-child(34) {
  --size: 0.8vw;
  --left-ini: -3vw;
  --left-end: 8vw;
  left: 35vw;
  animation: snowfall 25s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(35) {
  --size: 0.2vw;
  --left-ini: 3vw;
  --left-end: 5vw;
  left: 84vw;
  animation: snowfall 45s linear infinite;
  animation-delay: -17s;
}

.snowflake:nth-child(36) {
  --size: 0.8vw;
  --left-ini: 5vw;
  --left-end: 2vw;
  left: 18vw;
  animation: snowfall 28s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(37) {
  --size: 0.2vw;
  --left-ini: 9vw;
  --left-end: -3vw;
  left: 38vw;
  animation: snowfall 23s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(38) {
  --size: 0.4vw;
  --left-ini: 0vw;
  --left-end: -4vw;
  left: 35vw;
  animation: snowfall 48s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(39) {
  --size: 0.8vw;
  --left-ini: 6vw;
  --left-end: 2vw;
  left: 49vw;
  animation: snowfall 47s linear infinite;
  animation-delay: -17s;
}

.snowflake:nth-child(40) {
  --size: 0.6vw;
  --left-ini: 5vw;
  --left-end: 2vw;
  left: 96vw;
  animation: snowfall 45s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(6n) {
  filter: blur(1px);
}
